*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.img1{
    padding-left: 150px;
    padding-top: 20px;
}
.data1{
    background-color: blueviolet;
    display: grid;
    box-sizing:20px;
    font-size: 35px;
    width: 500px;
    height: 500px;
    
}
.img2{
    padding-left: 600px;
    padding-bottom: 600px;
}
.img3{
    background:blueviolet;
    width: 500px;
    height: 400px;
    
}